exclude:
- README.md
- start.bat

gems:
  - jekyll-sitemap
  - jekyll-paginate

timezone: Europe/Berlin

title: WolframClient.net

mcversions:
  "1.12": "1.12 - 1.12.2"
  "1.11": "1.11 - 1.11.2"
  "1.10": "1.10 - 1.10.2"
  "1.9.4": "1.9.4"
  "1.8": "1.8 - 1.8.9"

paginate: 8
paginate_path: "/news/:num/"
permalink: /news/:year-:month-:day-:title/
excerpt_separator: <!--read more-->

analytics-id: UA-52838431-13

collections:
  updates:
    output: true
    permalink: /updates/:slug/
  tutorials:
    output: true
    permalink: /tutorials/:slug/
  redirects:
    output: true
    permalink: /:path/
  api:
    output: true
    permalink: /api/:path

defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: default
  - scope:
      path: ""
      type: updates
    values:
      layout: update
      repo: Wolfram-MCX2
      format: jar_and_zip
  - scope:
      path: ""
      type: tutorials
    values:
      layout: tutorial
  - scope:
      path: ""
      type: redirects
    values:
      layout: redirect
  - scope:
      path: ""
      type: api
    values:
      layout: none
