---
title: Frequently Asked Questions
layout: bare
permalink: /faq/
---
<div style="width: 100%;height: 3.125rem;"></div>
<div class="container">
	<h1 class="align-center margin20 no-margin-left no-margin-right">{{ page.title }}</h1>
</div>
<hr>
<div class="container">
  {% assign faq = site.questions | group_by: "category" %}
  {% for category in faq %}
    <h2>{{ category.name }}</h2>
    <ul class="simple-list dark-bullet">
      {% for question in category.items %}
        <li><a href="{{ question.url }}">{{ question.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
	<p>
		Is your question not listed here? <a href="/contact/">Contact us!</a>
	</p>
</div>
