---
title: News and Updates
layout: bare
---
<div style="width: 100%;height: 3.125rem;"></div>
<div class="container">
	<h1 class="align-center margin20 no-margin-left no-margin-right">{{ page.title }}</h1>
</div>
<hr>
{% for post in paginator.posts %}
	<article class="container">
		{% include news/header.html %}
		{% include news/thumbnail.html %}
		{{ post.excerpt }}
		<footer class="align-center margin20 no-margin-left no-margin-right">
	    <a href="{{ post.url }}" class="button">Read More</a>
		</footer>
	</article>
	<hr>
{% endfor %}
<div class="container">
	<nav class="grid">
		{% if paginator.previous_page %}
			<a class="button place-left" href="{{ paginator.previous_page_path | remove: "index.html" }}">
				<span class="mif-chevron-thin-left"></span>
				Newer News
			</a>
		{% endif %}
		{% if paginator.next_page %}
			<a class="button place-right" href="{{ paginator.next_page_path }}">
				Older News
				<span class="mif-chevron-thin-right"></span>
			</a>
		{% endif %}
	</nav>
</div>
