<nav class="app-bar darcula bottom-shadow fixed-top" data-role="appbar">
	<div class="container">
		<a class="app-bar-element branding" href="/">
			<img src="https://cloud.githubusercontent.com/assets/10100202/17507167/6773d0e6-5e0e-11e6-842f-1338b107e8d4.png" alt="Wolfram logo" style="height: 2.5rem;margin-top: -0.2rem;">
			Wolfram
		</a>
		<div class="app-bar-pullbutton automatic"></div>
		<ul class="app-bar-menu place-right">
			<li><a href="/download/">Download</a></li>
			<li><a href="/faq/">FAQ</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</div>
</nav>
