---
---
{%- if page.title -%}
	{%- capture page_title -%}{{ page.title }} - {{ site.title }}{%- endcapture -%}
{%- else -%}
	{%- assign page_title = "ERROR: This page has no title!" -%}
{%- endif -%}

{%- if page.description -%}
	{%- assign page_description = page.description -%}
{%- endif -%}

{%- if page.image -%}
	{%- assign page_image = page.image -%}
{%- elsif page.video -%}
	{%- capture page_image -%}https://i.ytimg.com/vi/{{ page.video }}/maxresdefault.jpg{%- endcapture -%}
{%- else -%}
	{%- assign page_image = "https://cloud.githubusercontent.com/assets/10100202/24444967/98e75fce-1468-11e7-95fb-bdd81426e460.jpg" -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ page_title }}</title>
		{%- if page_description -%}<meta name="description" content="{{ page_description }}">{%- endif -%}

		<link href="/css/wi.css" rel="stylesheet">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@Wurst_Imperium">
		<meta name="twitter:title" content="{{ page_title }}">
		{%- if page_description -%}<meta name="twitter:description" content="{{ page_description }}">{%- endif -%}
		<meta name="twitter:image" content="{{ page_image }}">

		<meta property="og:site_name" content="{{ site.title }}">
		<meta property="og:title" content="{{ page_title }}">
		{%- if page_description -%}<meta property="og:description" content="{{ page_description }}">{%- endif -%}
		<meta property="og:image" content="{{ page_image }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.wolframclient.net{{ page.url }}">
		<meta property="og:locale" content="en">
		
		<link rel="canonical" href="https://www.wolframclient.net{{ page.url }}">
		{%- include analytics.html -%}

		{%- include quantcast-choice.html -%}

	</head>
	<body>

		{%- include header.html -%}
		{{ content }}
		{%- include footer.html -%}

		<script src="/js/wi.js"></script>
	</body>
</html>
