---
layout: bare
---
<header class="bg-steel fg-white">
	<div style="width: 100%;height: 3.125rem;"></div>
	<div class="container padding40 no-padding-left no-padding-right">
		{% include news/header.html %}
	</div>
</header>
<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">
		<!-- Wolfram News -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="7879285223" data-ad-format="auto"></ins>
		</div>
		{% include news/thumbnail.html %}
		{{ content }}
	</div>
</div>
<div class="bg-grayLighter padding40 no-padding-left no-padding-right">
	<div class="container post-content">
		<div class="grid">
			<div class="row cells2">
				{% if post.wolfram-version and post.minecraft-version %}
					<div class="cell">
						<h2>Download</h2>
						<a class="tile bg-grayDark command-button primary" href="http://go.wolfram-client.tk/10371505/github.com/Wurst-Imperium/Wolfram-MC-{{ page.minecraft-version }}/releases/download/v{{ page.wolfram-version }}/Wolfram-v{{ page.wolfram-version }}-MC{{ page.minecraft-version }}.zip" rel="nofollow" target="_blank" onclick="ga('send', 'event', 'news', 'download');" style="width: auto;height: auto;border: none;">
							<span class="icon mif-file-download"></span>
							Download Wolfram
							<small>version {{ post.wolfram-version }} for Minecraft {{ post.minecraft-version }}</small>
						</a>
					</div>
				{% endif %}
				<div class="cell">
					<h2>Share</h2>
					{% include share-buttons.html category = "news" %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">
		<h2>Comments</h2>
		<div id="disqus_thread"></div>
		<noscript>
			Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments section</a>.
		</noscript>
	</div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript">
    var disqus_shortname = 'wolfram';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
