---
layout: bare
---
<header class="bg-steel fg-white">
	<div style="width: 100%;height: 3.125rem;"></div>
	<div class="container padding40 no-padding-left no-padding-right">
		{% include news/header.html %}
	</div>
</header>

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<!-- Wolfram News -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="7879285223" data-ad-format="auto"></ins>
		</div>

		{% include news/thumbnail.html %}

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{% include share-buttons.html %}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{{ content }}
		</div>

	</div>
</div>

{% if page.wolfram-version and page.minecraft-versions %}
	<div class="bg-grayLighter padding40 no-padding-left no-padding-right">
		<div class="container post-content">

			<h2>Downloads</h2>
			{% for mcversion in page.minecraft-versions %}
				<a class="tile inline-block no-float bg-grayDark command-button primary no-border" href="http://github.com/Wurst-Imperium/Wolfram-MC-{{ mcversion }}/releases/download/v{{ page.wolfram-version }}/Wolfram-v{{ page.wolfram-version }}-MC{{ mcversion }}.zip" rel="nofollow" target="_blank" style="width: auto;height: auto;">
					<span class="icon mif-file-download"></span>
					Wolfram v{{ post.wolfram-version }} MC{{ mcversion }}
					<small>for Minecraft {{ site.mcversions[mcversion] }}</small>
				</a>
			{% endfor %}

		</div>
	</div>
{% endif %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<!-- Wolfram News -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="7879285223" data-ad-format="auto"></ins>
		</div>

	</div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
