---
layout: bare
---
<div style="width: 100%;height: 3.125rem;"></div>
<div class="container">
	{% include news/header.html %}
</div>
<hr>
<div class="container">
	<!-- Wolfram News -->
	<div class="margin20 no-margin-left no-margin-right no-margin-top">
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="7879285223" data-ad-format="auto"></ins>
	</div>
	<div class="post-content">
		{% include news/thumbnail.html %}
		{{ content }}
		{% if post.wolfram-download %}
		<p>
	    <a class="command-button primary text-shadow bg-grayDark bd-grayDark bg-hover-grayDarker" href="{{ page.wolfram-download }}" rel="nofollow" target="_blank" onclick="ga('send', 'event', 'news', 'download');">
	      <span class="icon mif-file-download"></span>
	      Download Wolfram
				<small>version {{ post.wolfram-version }} for Minecraft {{ post.minecraft-version }}</small>
	    </a>
		</p>
		{% endif %}
		{% include share-buttons.html category = "news" %}
		<div id="disqus_thread"></div>
		<noscript>
			Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments section</a>.
		</noscript>
	</div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript">
    var disqus_shortname = 'wolfram';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
