---
layout: bare
---
<div style="width: 100%;height: 3.125rem;"></div>
<div class="container">
	<header class="margin20 no-margin-left no-margin-right no-margin-top">
		<ul class="breadcrumbs">
		  <li><a href="/faq/">FAQ</a></li>
		  <li><span>{{ page.category }}</span></li>
		  <li><span>{{ page.title }}</span></li>
		</ul>
		<h1>{{ page.title }}</h1>
	</header>
</div>
<hr>
<div class="container">
	<!-- Wolfram FAQ -->
	<div class="margin20 no-margin-left no-margin-right no-margin-top">
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="4250311229" data-ad-format="auto"></ins>
	</div>
	<div class="post-content">
		{{ content }}
		{% include share-buttons.html category = "faq" %}
		<div id="disqus_thread"></div>
		<noscript>
			Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments section</a>.
		</noscript>
	</div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript">
    var disqus_shortname = 'wolfram';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
