---
layout: bare
---
{% assign date = page.date | date: "%Y-%m-%d" %}
{% include title.html l1 = page.title l2 = date %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<!-- Wolfram News -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="7879285223" data-ad-format="auto"></ins>
		</div>

		{% include news/thumbnail.html %}

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{% include share-buttons.html %}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{{ content }}
		</div>

		<!-- Wolfram News -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="7879285223" data-ad-format="auto"></ins>
		</div>

	</div>
</div>

{% if page.wolfram-version and page.minecraft-versions %}
	<div class="bg-grayLighter padding40 no-padding-left no-padding-right">
		<div class="container post-content">

			<h2>Downloads</h2>
			{% if page.format == "zip" %}
				<p>
					Downloads for this version are no longer available.
				</p>
			{% else %}
				{% for mcversion in page.minecraft-versions %}
					<a class="tile inline-block no-float bg-grayDark command-button primary no-border" href="http://github.com/Wurst-Imperium/{{ page.repo }}/releases/download/v{{ page.wolfram-version }}/Wolfram-v{{ page.wolfram-version }}-MC{{ mcversion }}.{{ page.format }}" rel="nofollow" target="_blank" style="width: auto;height: auto;">
						<span class="icon mif-file-download"></span>
						Wolfram v{{ post.wolfram-version }} MC{{ mcversion }}
						<small>for Minecraft {{ site.mcversions[mcversion] }}</small>
					</a>
				{% endfor %}
			{% endif %}

		</div>
	</div>
{% endif %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<h2>Related Tutorials</h2>
		<ul>
			<li><p><a href="/tutorials/how-to-install/">How to install Wolfram</a></p></li>
			<li><p><a href="/tutorials/how-to-update/">How to update Wolfram</a></p></li>
		</ul>

	</div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
