---
title: Minecraft Wolfram Hacked Client Downloads
description: Wolfram downloads for all Minecraft versions
layout: bare
permalink: /download/
mcversions:
  - "1.11"
  - "1.10"
  - "1.9.4"
  - "1.8"
  - "all"
---
{% include title.html l1 = page.title l2 = page.description %}

<div class="padding20 no-padding-left no-padding-right">
  <div class="container post-content">

    <!-- Wolfram Downloads -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="1999014029" data-ad-format="auto"></ins>
		</div>

    {% assign updates = site.posts | where: "category", "Wolfram Update" %}
    {% for mcversion in page.mcversions %}

      <div class="margin10 no-margin-left no-margin-right padding10 no-padding-top no-padding-bottom bg-grayLighter fg-gray set-border text-light">
        <h2 class="text-light">{% if mcversion == "all" %}Latest Updates{% else %}Wolfram for Minecraft {{ mcversion }}{% endif %}</h2>
      </div>

      <div class="grid padding10">
        <div class="row cells4">

          {% assign i = 0 %}
          {% for update in updates %}
          
            {% unless mcversion == "all" or update.minecraft-versions contains mcversion %}
              {% continue %}
            {% endunless %}

            <div class="cell">
              <a href="{{ update.url }}">
                <div class="image-container">
                  <div class="frame">
                    <img src="{% if update.image %}{{ update.image }}{% else %}https://i.ytimg.com/vi/{{ update.video }}/mqdefault.jpg{% endif %}" alt="{{ update.title }}">
                  </div>
                  <div class="image-overlay" style="background-color: rgba(0, 0, 0, .8);">
                    <div class="leader text-shadow" style="width: 100%;height: 100%;display: table;">
                      <span class="mif-link fg-white" style="display: table-cell;vertical-align: middle;"></span>
                    </div>
                  </div>
                </div>
              </a>
              <h3 class="sub-header">
                <a href="{{ update.url }}">{{ update.title }}</a>
              </h3>
            </div>

            {% assign i = i | plus: 1 %}
            {% if i >= 3 %}
              {% break %}
            {% endif %}

          {% endfor %}

          <div class="cell">
            {% if mcversion == "all" %}
              {% capture allversions %}all/{% endcapture %}
            {% else %}
              {% capture allversions %}minecraft-{{ mcversion | slugify }}/{% endcapture %}
            {% endif %}
            <a href="{{ allversions }}">
              <div class="image-container">
                <div class="frame bg-grayLighter set-border tile-content iconic">
                  <img src="{% if updates[0].image %}{{ updates[0].image }}{% else %}https://i.ytimg.com/vi/{{ updates[0].video }}/mqdefault.jpg{% endif %}" alt="{{ updates[0].title }}" class="no-visible">
                  <span class="icon mif-folder-open fg-grayLight" style="margin-top: -32px;"></span>
                </div>
                <div class="image-overlay" style="background-color: rgba(0, 0, 0, .8);">
                  <div class="leader text-shadow" style="width: 100%;height: 100%;display: table;">
                    <span class="mif-link fg-white" style="display: table-cell;vertical-align: middle;"></span>
                  </div>
                </div>
              </div>
            </a>
            <h3 class="sub-header">
              <a href="{{ allversions }}">All Versions</a>
            </h3>
          </div>

        </div>
      </div>

    {% endfor %}

  </div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
